name: Build and Deploy to Maven Central

on:
  workflow_dispatch:
#   push:
#     branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "Git :: Checkout"
        uses: actions/checkout@v4

      - name: "Set :: Java"
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          server-id: 'central'
          server-username: ${{ secrets.SONATYPE_USERNAME }}
          server-password: ${{ secrets.SONATYPE_PASSWORD }}
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - name: "Configure :: Install Hive Driver"
        run: ./mvnw -X install:install-file -Dfile=./lib/hive-jdbc-uber-2.6.3.0-235.jar -DpomFile=./lib/hive-jdbc-uber-2.6.3.0-235.pom
      
      - name: "Compile"
        run: ./mvnw clean compile

      - name: "Test"
        run: ./mvnw test

      - name: "Sign artifacts"
        run: ./mvnw install -DskipTests
        env:
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}


      - name: "Deploy artifacts to Sonatype"
        if: github.ref == 'refs/heads/main'
        run: ./mvnw deploy -DskipTests
        env:
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
